<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kellar2.brain2"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="landscape"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.kellar1.brain2.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AreaOfConcern"
            android:label="@string/title_activity_area_of_concern" 
            android:screenOrientation="landscape">"
        </activity>
        <activity
            android:name=".Start"
            android:label="@string/title_activity_start"
            android:screenOrientation="landscape">"
        </activity>
        <activity
            android:name=".Strategies"
            android:label="@string/title_activity_strategies"
            android:windowSoftInputMode="adjustResize" 
            android:screenOrientation="landscape">"
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".LegalActivity"
            android:label="@string/title_activity_legal"
            android:screenOrientation="landscape">
        </activity>
    </application>

</manifest>
